<div class="ui container">
  <h1>Assignment 2 - Product List</h1>
  <div class="ui divider"></div>
  <div class="ui tertiary inverted blue segment">
    <div class="ui grid">
      <div class="four wide column">
        <button class="ui fluid button primary" (click)="toggleImage()">
          {{ showImages ? "Hide" : "Show" }} Image
        </button>
      </div>
      <div class="four wide column"></div>
      <div class="eight wide column">
        <div class="ui fluid icon input">
          <input
            type="text"
            placeholder="Search..."
            [(ngModel)]="searchQuantity"
            name="searchQuantity"
          />
          <i class="inverted circular search link icon"></i>
        </div>
      </div>
    </div>

    <table class="ui celled padded table">
      <thead>
        <tr>
          <th *ngIf="showImages">
            Image
          </th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productList | productFilter: searchQuantity">
          <td *ngIf="showImages">
            <h2 class="ui center aligned header">
              <img
                class="ui middle aligned massive image"
                (mouseover)="showImage($event, product.bimageUrl)"
                (mouseout)="showImage($event, product.fimageUrl)"
                [src]="product.fimageUrl"
                alt=""
              />
            </h2>
          </td>
          <td class="single line">
            {{ product.name | uppercase }}
          </td>
          <td class="center aligned">
            {{ product.price | currency: "USD" }}
          </td>
          <td
            class="center aligned"
            [ngClass]="{ negative: product.quantity < 100 }"
          >
            {{ product.quantity + " pieces" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
